@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600&family=Space+Grotesk:wght@400;500;600;700&display=swap");

:root {
  font-family: "Space Grotesk", "Plus Jakarta Sans", sans-serif;
  color: #f8f7ff;
  background-color: #040313;
  line-height: 1.5;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: #040313;
  color: #f8f7ff;
}

#root {
  min-height: 100vh;
}
